
* {
    margin: 0;
    box-sizing: border-box;
}

h1,
h2,
strong {
    color: #333;
}
.main {
    background-color: #F4FFF8;
    margin: 0 auto;
    font-family: "Helvetica", "Arial", sans-serif;
    line-height: 1.5;
    width: 100%;
}

header {
    background-color: #053225;
    line-height: 1.2;
    padding: 10vw ;
    height: 100%;
}

header h1 {
    color: #F7FCFF;
    font-size: 50px;
    padding-top: 0;
}

header h2 {
    color: #AAA;
}

.contact {
    text-align: center;
    margin-top: 2vw;
    color: #F7FCFF
}

.contact a {
    color: #F7FCFF;
    padding-right: 3em;
}

.contact a:visited {
    color: #F7FCFF; 
    text-decoration: none;
}

.name {
    max-width: 50em;
    margin: 0 auto;
}

.container {
    margin: 0 auto;
    max-width: 50em;
    padding: 0;
    color: #555;
    z-index: -99;
    padding: 1em;
    background-color: beige;
}

.semester {
    background-color: white;
    padding: .5em;
    margin-bottom: 1em;
    color: #384949;
}

.activity {
    margin-left: 1.5em;
}


