
* {
    margin: 0;
    box-sizing: border-box;
}

h1,
h2,
strong {
    color: #333;
}

h1, h2, h3, h4 {
    font-family: 'Titillium Web', monospace;   
}

p {
    font-family: 'Roboto', sans-serif;
}

.main {
    background-color: #F4F4F4;
    margin: 0 auto;
    font-family: "Helvetica", "Arial", sans-serif;
    line-height: 1.5;
    width: 100%;
}

/******************************/

header {
    background-color: #E49273;
    line-height: 1;
    padding: 2em;
    height: auto;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    box-shadow: 0 0 5px 1px #999;
}


/******************************/

.name h1 {
    font-size: 5em;
    text-transform: uppercase;
    font-family: 'Titillium Web', monospace;
    font-weight: lighter;
    text-align: center;
    padding-top: 0;
    width: 100%;
}

.name h1 a {
    text-decoration: none;
    color: #331C22;
    transition: color 0.5s;
}

.name h1 a:hover {
    color: #75001F;
}

.name h1 a:visited {
    text-decoration: none;
}

.name h2 {
    padding-top: 0.5em;
    color: #000;
    text-decoration: none;
    font-family: 'Titillium Web', monospace;
    font-size: 1em;
}

.name h2 a {
    text-decoration: none;
    color: black;
    font-size: 1.5em;
}

.name h2 a:visited {
    text-decoration: none;
}

/******************************/

header h2 a {
    padding: 0px 10px;
    transition: background-color 0.5s;
    border-radius: 5px;
}
header h2 a:hover {
    background-color: #E8E8E8;
}

header .active {
    background-color: #F4F4F4;
}

/******************************/

.contact {
    text-align: center;
    margin: 1em auto 0 auto;
    color: #F7FCFF;
    max-width: 50em;
    margin-left: auto;
}

.contact a {
    color: #F7FCFF;
    margin: 0 1em;
    text-decoration: none;
}

.contact a:visited {
    color: #F7FCFF; 
    text-decoration: none;
}

/*-------------------------------------------------
    THIS IS CONTENT CSS*/
.container {
    margin: 0 auto;
    max-width: 60em;
    padding: 0;
    color: #555;
    z-index: -99;
    padding: 1em 3em;
}

.container h1 {
    text-align: center;
    padding: 10px 0px;
}

.container h2 {
    padding: 5px 0 ;
}

.container h3 {
    text-align: center;
    line-height: 1.1em;
    margin-bottom: 0.5em;
}

.container p {
    padding-top: 5px;
    text-indent: 0px;
}

.container h3 a {
    text-decoration: none;
    color: black;
    transition: background-color .25s;
    background-color: #D8AB60;
    padding: 10px;
    border-radius: 5px;
}

.container h3 a:hover {
    background-color: #D98E2B;
}

.img-circle {
    border-radius: 50%;
    margin: 0 auto;
    display: block;
    border: 5px solid #E49273;
}

.img-medium {
    height: 250px;
    width: 250px;
}

.img-small {
    
    width: 100%;
    margin: auto;
    border: 3px solid #E49273;
    border-radius: 50%;
}

.img-skills {
    height: 100px;
    margin: auto;
    text-align: center;
    
}
/******************************/
.rightleft {
    clear: both;
    width: 100%;
    margin: 15px 0px;
    overflow:auto;
}


.left-short {
    width: 15%;
    max-width: 100px;
    float: left;
    vertical-align: middle;
    
    padding: 5px 0;
}

.right-long {
    float: right;
    width: 83%;
    padding-left: 1%;
    margin-left: 1%;
    border-left: 0.75px lightgray solid;
}


/*********************************/
.col-container {
    width: 100%;
    height: auto;
    padding: 5px;
    clear: both;
}
.col-1, .col-2, .col-3 {
    float: left;
    width: 33.33%;
    display: inline-block;
    height: auto;
    text-align: center;
    padding: 10px
}

.col-2 {
    border-right: 0.75px lightgray solid;
    border-left: 0.75px lightgray solid;
}


/*********************************/

.border {
    width: 85%;
    height: 15px;
    border-radius: 10px;
    border: 1px lightblue solid;
    margin: 5px auto;
}
.progress-80 {
    height: 100%;
    width: 80%;
    background-color: skyblue;
    border-radius: 10px 0 0 10px;
}

.progress-70 {
    height: 100%;
    width: 70%;
    background-color: skyblue;
    border-radius: 10px 0 0 10px;
}

.progress-40 {
    height: 100%;
    width: 40%;
    background-color: skyblue;
    border-radius: 10px 0 0 10px;
}

/*********************************/

.activity {
    margin-left: 0em;
}

.divider {
    width: 80%;
    margin: 0 auto;
    background-color: #E49273;
    height: 1px;
}

/*********************************/


blockquote {
    margin-left: 25px;
    text-indent: 15px;
    font-style: italic;
}

/*********************************/
@media screen and (max-width: 768px) {
    /* For mobile phones: */
    header {
        height: auto;
        /*font-size: 3em;*/
    }
    .name h1 {
        font-size: 15vw;
    }
    .name h2 {
        line-height: 1.5
    }
    .rightleft {
        width: 100%;
        float: none;
        display: block;
    }
    .left-short {
        width: 100%;
        float: none;
        display: block;
        margin: 0 auto;
        text-align: center;
    }
    
    .right-long {
        width: 100%;
        float: none;
        display: block;
        padding: 0;
        margin: 0;
        border-left: none;
    }
    
    .col-1, .col-2, .col-3 {
        float: none;
        width: 100%;
        display: block;
        padding-top: 15px;
        margin: 15px auto;
    }
    .col-2 {
        border-right: none;
        border-left: none;
        border-top: 0.75px lightgray solid;
        border-bottom: 0.75px lightgray solid;;
    }
}


